<div style="background-image: url('https://raw.githubusercontent.com/granpahacker/alan_musk_golang/main/templates/images/bg.jpeg');
background-size: cover; height:480px; padding-top: 80px; text-align: center;">
  <img src="https://raw.githubusercontent.com/granpahacker/alan_musk_golang/main/templates/images/alan.jpeg" style="height:150px; border-radius: 50%; border: 10px solid #000;">
  <h1 style="font-size:100px; color:white; margin:10px;">Alan Musk Bot</h1>
  <p style="font-size:30px; color: white;"><em>Super Discord Bot with chat-gpt</em></p>
</div>